<header class="header @@if (context.mod) { header--@@mod }">
  <div class="container">
    @@if (!context.index) {
      <a class="header__logo" href="index.html" aria-label="Переход на главную">
        Логотип
      </a>
    }
    @@if (context.index) {
      <span class="header__logo">
        Логотип
      </span>
    }

    <nav class="main-nav">
      <button class="main-nav__toggle btn-reset" type="button" aria-label="Переключатель отображения меню" aria-pressed="false">
        <svg width="20" height="20" aria-hidden="true">
          <use xlink:href="#icon-burger"></use>
        </svg>
      </button>
      <div class="main-nav__wrapper">
        <ul class="main-nav__list">
          <li class="main-nav__item">
            <a class="main-nav__link @@if (context.headerActiveLinkIndex === 0) { is-active }" @@if (context.headerActiveLinkIndex !== 0) { href="#" }>Страница 1</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link @@if (context.headerActiveLinkIndex === 1) { is-active }" @@if (context.headerActiveLinkIndex !== 1) { href="#" }>Страница 2</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link @@if (context.headerActiveLinkIndex === 2) { is-active }" @@if (context.headerActiveLinkIndex !== 2) { href="#" }>Страница 3</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
